body, html {
    width: 100%;
    height: 100%;
    background: rgb(184, 184, 184);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#title {
    text-align: start;
    font-size: 1.75em;
}
#display {
    font-size: 7em;
}
.btn {
    font-size:2em;
    border-radius:0.25em;
    transition: 0.25s;
}
.btn:hover:enabled {
    background-color:rgb(185, 185, 185);
    transition: 0.25s;
}
#table {
    margin-top: 2em;
}
#lap-table {
    font-size: 2.5em;
    width: 10em;
    margin: auto;
}
li:nth-of-type(5n){
    color: rgb(0, 157, 255);
}